@font-face {
    font-family: nerd;
    src: url('/0xProto/0xProtoNerdFont-Regular.ttf');
}
*{
    font-family: nerd;
}
#logo{
    width: 50px;
    height: 50px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #191919;
} 
.card{
    margin: 15px;
    border: rgba(117, 117, 117, 0.28) solid;
}

img{
    width: 300px;
    height: 300px;
    padding: 5px;
}